{% extends 'base.html' %}

{% block contents %}
<body>
    <br>
          {% for blog in posts %}

            <div class="container">
                <a href="{% url 'detail' blog.id %}">
                <h3>{{blog.id}}) {{blog.title}}</h3>
                </a>
                <p>{{blog.pub_date}}</p>
                <p>{{blog.summary}}
                    <a href="{% url 'detail' blog.id %}">...More</a>
                </p>
            </div>
        {% endfor %}

        {# First Prev 3 of 4 Next Last #}

        <div class="container">
        {# first & prev #}
        {% if posts.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{poes.previous_page_number}}">Prev</a>
        {% endif %}

        <span>{{posts.number}}</span>
        <span> / </span>
        <span>{{posts.paginator.num_pages}}</span>

        {% if posts.has_next %}
        <a href="?page={{posts.next_page_number}}">Next</a>
        <a href="?page={{posts.paginator.num_pages}}">Last</a>
        {% endif %}
        </div>

    </body>
{% endblock %}